.rl-select-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 50px;
}

.rl-select-content span {
    width: 100px;
}

.rl-select-content select {
    width: 225px;
    padding: 5px;
    margin-right: 10px;

    font-size: 16px;
}

.rl-select-content input[type="text"] {
    display: none;
    position: absolute;
    left: 102px;
    top: 12px;

    width: 200px;
    padding: 4px;
    border: none;

    font-size: 16px;
}

.rl-select-content input[type="text"]:focus {
    outline: none;
}

.rl-select-content input[type="submit"] {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;

    width: 120px;

    color: #382110;
    font-size: 16px;
}

.rl-select-content input[type="submit"]:hover {
    background-color: #382110;
    box-shadow: 0px 0px 1px black;
    
    color: white;
}

.rl-list-content {
    margin: 20px auto;
}

.reading-lists-table {
    overflow-x: auto;
}

.reading-lists-table th, .reading-lists-table td {
    padding: 10px;
    min-width: 150px;

    font-size: 16px;
}

.reading-lists-table th {
    background-color: #382110;

    color: white;
}

.reading-lists-table tr:hover {
    background-color: #e4e4e4;
}

/*
=================================================================

MEDIA QUERIES

=================================================================
*/
@media screen and (max-width: 900px) {
    /* || Change the reading list select content || */
    .rl-select-content {
        display: grid;

        grid-template-rows: 1fr 1fr;
        grid-template-columns: 240px 1fr;
        grid-template-areas:
            "label label"
            "ddl button";

        height:100%;
        width: 70%;
    }

    .rl-select-content span {
        grid-area: label;
    }

    .rl-select-content select {
        grid-area: ddl;
        width: 225px;
    }

    .rl-select-content input[type=text] {
        grid-area: ddl;
        top: 3px;
        left: 3px;
    }

    .rl-select-content input[type=button] {
        grid-area: button;
    }
}